div {background-color:#964b00; text-align: center;}
#b1{margin:20px; padding: 10px;}
#b2{;background-color: #ff0 ;martin:20px; width:24%;float:left;}
#b3{background-color: #00f ;martin:20px; width:50%;float:left;background-image: url(logo1.png);
  background-position: top 10px right;color: #fff;
  background-position: top center;}
#b4{;background-color: #ff0 ;martin:20px; width:24%;float:left;}
#b5{{background-color: #0f0;clear:both;}
