div {border: solid 3px #00f;
padding:5px; 
margin:5px;
background-color: #00f;}
#b1{background-color: #990;}
#b2{background-color: #009;}
#b3{background-color: #999;martin:5px;width:25%;float:left;}
#b4{background-color: #999;martin:5px;width:50%;float:left;background-image:url(logo1.png);}
#b5{background-color: #999;martin:5px;width:13%;float:left;}
#b6{background-color: #009;clear:both;}
