div {;margin:1px;color: #964b00;height:1200px;martin-bottom:20px;}
#b1{}
#b2{background-color: #ff0 ;martin:10px; width:20%;float:left;}
#b3{background-color: #00f ;martin:10px; width:50%;float:left;}
#b4{background-color: #ff0 ;martin:10px; width:20%;float:left;}
#b5{clear:both;}
