div {background-color:#964b00;}
#b1{}
#b2{background-color: #ff0 ;martin:10px; width:24%;float:left;}
#b3{background-color: #00f ;martin:10px; width:50%;float:left;background-image: url(logo1.png);color: #fff;
  background-position: top center;}
#b4{;background-color: #ff0 ;martin:10px; width:24%;float:left;}
#b5{{background-color: #0f0;clear:both;}
